@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Azeret Mono", monospace;
}

/* shared style */
.container {
	max-width: 1300px;
	margin: 0 auto;
}



/* nav bar design */
.nav-bar {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
}

.nav-bar .logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-bar .logo-text {
	font-size: 28px;
	line-height: 33px;
}

.nav-bar .cv-download-button {
	padding: 17px 24px 17px 24px;
	color: rgb(13, 19, 33);
	font-family: Azeret Mono;
	font-size: 20px;
	font-weight: 600;
	line-height: 23px;
	background-color: #fff;
	border: 1px solid rgb(13, 19, 33);
	border-radius: 8px;
}

/* header section design */
.header {
	background: url(../assets/Hero-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 800px;
}

.header .header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 800px;
	gap: 35px;
}

.header .header-content img {
	height: 241px;
	width: 241px;
}

.header .header-content .header-title {
	color: rgb(13, 19, 33);
	font-family: Azeret Mono;
	font-size: 48px;
	font-weight: 800;
	line-height: 68px;
	letter-spacing: 0%;
	text-align: center;
}

.header .header-content .header-description {
	color: rgb(13, 19, 33);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}

.header .header-content .header-btn {
	padding: 21px 24px 21px 24px;
	border-radius: 8px;
	background: rgb(13, 19, 33);
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-weight: 600;
	line-height: 23px;
	text-align: center;
}

.header .header-content .header-btn:hover {
	cursor: pointer;
}

/* why web development sectio */
.why-web-dev {
	padding: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-radius: 16px;
	background: rgba(13, 19, 33, 0.02);
    margin-top: 80px;
}

.why-web-dev .why-web-dev-title {
	color: rgb(13, 19, 33);
	font-size: 32px;
	font-weight: 800;
	line-height: 37px;
	text-align: center;
}

.why-web-dev .why-web-dev-content {
	color: rgb(13, 19, 33);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}

.info-box-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.info-box-1 {
	border-radius: 16px;
	background: linear-gradient(
		90deg,
		rgb(255, 255, 255),
		rgba(255, 255, 255, 0) 100%
	);
	padding: 48px;
	display: flex;
	gap: 150px;
}

.info-box-1 .info-box-1-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	align-items: flex-start;
}

.info-title {
	color: rgba(13, 19, 33, 0.7);
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	text-align: left;
}

.info-brn {
	color: rgb(13, 19, 33);
	font-size: 20px;
	font-weight: 600;
	line-height: 23px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid rgb(13, 19, 33);
	opacity: 0.7;
	padding: 15px 25px;
	display: inline-block;
}

.info-description {
	color: rgb(13, 19, 33);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
}
.info-box-2 {
	border-radius: 16px;
	background: linear-gradient(
		270deg,
		rgb(255, 255, 255),
		rgba(255, 255, 255, 0) 100%
	);
	padding: 48px;
	display: flex;
	gap: 100px;
}

.info-box-2 .info-box-2-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	align-items: flex-start;
}

/* inspiration design */
.inspiration {
	padding: 60px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.inspiration .inspiration-title {
	color: rgb(13, 19, 33);
	font-size: 32px;
	font-weight: 800;
	line-height: 37px;
	text-align: center;
}

.inspiration .inspiration-description {
	color: rgb(13, 19, 33);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}

.inspiration .inspiration-video {
	padding: 30px;
	box-sizing: border-box;
	border: 1px solid rgba(13, 19, 33, 0.2);
	border-radius: 16px;
}

.inspiration .inspiration-video iframe {
	border-radius: 16px;
}

/* current target design */
.my-current-target {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.my-current-target .my-current-target-title {
	color: rgb(13, 19, 33);
	font-size: 32px;
	font-weight: 800;
	line-height: 37px;
	text-align: center;
}

.my-current-target .my-current-target-description {
	color: rgb(13, 19, 33);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}

.my-current-target .taget-box-container {
	display: flex;
	gap: 35px;
}

.my-current-target .taget-box-container .taget-title {
	color: rgb(13, 19, 33);
	font-family: Azeret Mono;
	font-size: 24px;
	font-weight: 800;
	line-height: 36px;
	letter-spacing: 0%;
	text-align: left;
}

.my-current-target .taget-box-container .target-description {
	color: rgb(13, 19, 33);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
}

.my-current-target .taget-box-container .target-btn {
	color: rgb(13, 19, 33);
	font-size: 16px;
	background-color: #ffffff00;
	border: none;
	text-decoration: underline;
}

.my-current-target .taget-box-container .target-btn:hover {
	cursor: pointer;
}

.my-current-target .taget-box-container .target-box-1 {
	border-radius: 16px;
	background: rgba(255, 76, 30, 0.05);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 40px;
	gap: 15px;
}

.my-current-target .taget-box-container .target-box-2 {
	border-radius: 16px;
	background: rgba(0, 76, 232, 0.05);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 40px;
	gap: 15px;
}

.my-current-target .taget-box-container .target-box-3 {
	border-radius: 16px;
	background: rgba(255, 223, 0, 0.05);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 40px;
	gap: 15px;
}

/* next target design */
.next-target {
	padding: 60px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.next-target .my-next-target-title {
	color: rgb(13, 19, 33);
	font-size: 32px;
	font-weight: 800;
	line-height: 37px;
	text-align: center;
}

.next-target .my-next-target-description {
	color: rgb(13, 19, 33);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}

.next-target .next-target-box-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 25px;
}

.next-target .next-target-box-container .next-target-box {
	box-sizing: border-box;
	border: 1px solid rgba(13, 19, 33, 0.15);
	border-radius: 16px;
	background: rgb(255, 255, 255);
	padding: 45px;
	display: flex;
}

.next-target .next-target-box-container .next-target-image-container {
	width: 190px;
}

.next-target .next-target-box-container .next-target-box-content-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.next-target .next-target-box-content-container .taget-title {
	color: rgb(13, 19, 33);
	font-size: 24px;
	font-weight: 800;
	line-height: 36px;
	text-align: left;
}

.next-target .next-target-box-content-container .target-description {
	color: rgb(13, 19, 33);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
}

.next-target .next-target-box-content-container .target-btn {
	color: rgb(13, 19, 33);
	font-size: 16px;
	background-color: #fff;
	border: none;
	text-decoration: underline;
}

.next-target .next-target-box-content-container .target-btn:hover {
	cursor: pointer;
}

.support {
	background: url(../assets/handshake.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	border-radius: 16px;
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: overlay;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 13px;
	margin-bottom: 40px;
}

.support .support-title {
	color: rgb(255, 255, 255);
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
}

.support .support-description {
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}

.support .form{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    gap: 10px;
}
.support .text-input {
	padding: 22px;
	width: 550px;
	color: #000;
	border-radius: 10px;
    border: none;
}

.support .submit-button {
	padding: 17px 25px;
	border-radius: 10px;
	color: rgb(13, 19, 33);
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	text-align: center;
    border: none;
}

/* footer section design */
.footer {
	background: rgba(13, 19, 33, 0.03);
    padding: 25px 0;

}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
